############
# REQUIRED #
############

taxonomy:
  db_path:



###############
# CLASSIFIERS #
###############

{name_tool}:
  path:
  db_path:

 ################
# DEPENDENCIES #
################

seqkit:
  path:

taxonkit:
  path:


{name_tool}:
  path: