'Bacillus licheniformis': 0.1875
'Xanthomonas campestris': 0.001875
'Staphylococcus saprophyticus': 0.000018
'Corynebacterium glutamicum': 0.375
'Micrococcus luteus': 0.003750
'Enterobacter hormaechei': 0.018750
'Cronobacter sakazakii': 0.375
'Achromobacter xylosoxidans': 0.000375
'Paenibacillus odorifer': 0.000037
'Chromobacterium violaceum': 0.000188
'Dickeya solani': 0.000004
'Serratia fonticola': 0.037500